<h1>{{title}}</h1>
<button (click)="useMaxBatchSize = !useMaxBatchSize; sortOrders()">
  Use {{useMaxBatchSize ? 'min' : 'max'}} batches
</button>
<table>
  <tr>
    <th>Product Code</th>
    <th>Product Name</th>
    <th>Batch Size Code</th>
    <th>Batch Size</th>
    <th>Number of Batches</th>
    <th>Price per Unit</th>
  </tr>
  <tr *ngFor="let order of sortedOrders">
    <td>{{order.productCode}}</td>
    <td>{{order.productName}}</td>
    <td>{{order.batchSizeCode}}</td>
    <td>{{order.batchSize}}</td>
    <td>{{order.batchQuantity}}</td>
    <td>{{order.price}}</td>
  </tr>
</table>
